
/*variables*/
@gray-dark: #333;
@gray: #555;
@gray-light: #ddd;
@gray-lighter: #eee;
@gray-lightest: #f7f5fa;

@space-purple: #5a58a3;

/* bootstrap overrides */

body { padding-top: 70px; font-family: 'Lato', sans-serif; font-weight: 300;  
    &.freeze { position:relative; overflow-y: hidden !important;}
}

html, body { height: 100%; }

#wrap { /*sticky footer*/
    min-height: 100%;
    @media screen and (max-device-width: 320px) { 
        min-height: 450px; 
    }
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 110px;
}

.alert { margin-top: 20px; }
.navbar { margin-bottom: 0;  border-bottom: solid 5px @space-purple; background-color: @gray-lighter;}
.navbar-brand { text-align: left; padding: 0; margin: 0; padding-left: 33px; line-height: 60px; background: @gray-lighter url('/static/img/spacescout_logo.png') no-repeat 0 14px; background-size: 30px; max-width: 300px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;
    h1 { font-size: 30px; display: inline; text-transform: uppercase; color: @gray-dark; line-height: 60px; font-family: 'Dosis', sans-serif; font-weight: 500; }
}
.navbar>.container .navbar-brand { 
    margin-left: 15px;
    @media screen and (min-width: 768px) { margin-left: 0; }
}
.nav>li>a { padding-top: 15px;}
.navbar-nav { 
    li { font-family: 'Dosis', sans-serif; font-weight: 500; text-transform: uppercase;
        @media screen and (min-width: 768px) { padding-left: 40px; a { padding: 0;} }
        
        a { color: @gray;
            @media screen and (min-width: 768px) { line-height: 65px; }
        }
    }
}
.navbar-nav:last-child li:first-child a { color: @space-purple;}
.navbar-nav:last-child li:last-child a { color: red;}


.navbar-toggle { padding: 8px; right: 0; top: 7px; color: @gray; }
.navbar-collapse { background-color: @gray-light;/* margin: 0 15px; padding: 0 -15px;*/
    
    @media screen and (min-width: 768px) {
    background: transparent;
      margin: 0;
    }
}

.label { font-size: .8em; font-weight: 300; text-transform: uppercase; }

.btn { font-family: 'Dosis', sans-serif; text-transform: uppercase; font-size: 1.3em; border: none;
    
    -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.08);
    
}

.btn-success { background: desaturate(@space-purple, 10%); }
.btn-success:hover { background: @space-purple; }

.btn-default { background: desaturate(@gray-lightest, 10%); }
.btn-default:hover { background: @gray-lightest; }

.container { position: relative; }

.space-container {
    
    h2 { font-family: 'Dosis', sans-serif; text-transform: uppercase; font-size: 1.8em; color: #999; font-weight: 300; color: #625fab; margin-top: 1.2em; margin-bottom: 1em;}
}

.panel-heading { background: @gray-lightest; }

.form-control { box-shadow: none !important; -webkit-box-shadow: none !important; }
input[type=text].form-control, textarea.form-control { -webkit-appearance: none; }
select.form-control { }


/* action links */

.action-link { color: @space-purple; font-family: 'Dosis', sans-serif; text-transform: uppercase; font-weight: 500;  }

/* home */

.nav-pills { margin: 1.5em 0 1em;
    
    li { margin: 0 8px 0 0; 
        @media screen and (max-width: 479px) { margin: 0 !important; }
        a { padding: 10px !important; font-family: 'Dosis', sans-serif; text-transform: uppercase; font-size: 1.3em;
            @media screen and (max-width: 479px) { font-size: 1.1em; }
        }
    }
    
    li.active {
        a, a:hover { background: @space-purple; }
    }
}

.space-list { border: 1px solid @gray-light; list-style: none; margin: 0; padding: 0; 
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    
    @media screen and (max-width: 767px) {
        margin: 0 -15px;
        border-top: 1px solid @gray-light; border-bottom: 1px solid @gray-light; 
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;    
    }
    
	.space-list-header { line-height: 2em;  font-weight: 400;
	
	    .building-name { padding: 10px 15px; background: @gray-lightest; margin: 0; font-family: 'Dosis', sans-serif; text-transform: uppercase; font-weight: 500;  font-size: 1.1em; }
    	.building-list { list-style: none; padding: 0; margin: 0; }
    }
    .space-list-header:first-child { 
        .building-name {
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright: 4px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
    }
    .space-list-header:last-child { border-top: 1px solid @gray-light; }

	.space-list-item { padding: 8px 16px 8px 16px; line-height: 1.7em; border-top: 1px solid @gray-light; font-weight: 300; font-size: .9em; position: relative;
		a {	display: block; font-size: 1.2em; color: @space-purple; font-weight: 400; }
		.item-description { display: block;}
		.item-modified-by { font-family: 'Lato', sans-serif; display: block; font-style: italic; color: gray; }
		.item-modified { position: absolute; top:-2px; right: 7px; border-radius: 0; color: red; font-size: 1.2em;}
		
		@media screen and (min-width: 767px) { padding-right: 30px;
		
			a { display: inline-block; width: 32%;}
			.item-description { display: inline-block; width: 43%;}
			.item-modified-by { display: inline-block; width: 24%; text-align: right; }
			.item-modified { }
            .item-incomplete { display: inline-block; width:43%;}
		}	
	}

}
.incomplete-list .space-list-item:first-child { border-top: none;}


/* details */
.carousel { margin-top: 1em; }
.carousel-control.right { background-image: none;}
.carousel-control.left  { background-image: none;}
.carousel-control .icon-prev, .carousel-control .icon-next { font-size: 60px; margin-top: -30px;}
.thumb-test { width:100%; height: 240px; background-color: #f3f3f3; text-align: center;}
.thumb-small { width: 120px; height: 90px; background-color: #f3f3f3;}
.image-select { margin-top: 5px; margin-right: 0 !important;
	.radio { width: 50px; height: 50px; margin-top: 50px;}
	a { display: inline-block; margin-top: 30px; color: red; font-family: 'Dosis', sans-serif; text-transform: uppercase; font-weight: 500; font-size: .9em; }

}
.third { width: 32%; display: inline-block;}

.time-selector { margin: 0 auto; padding-left:0; padding-bottom: 10px;
	span { text-align: center; font-weight: bold;}
	.third { width: 32.5%; display: inline-block; vertical-align: top;}
	.hour-select,.day-select { /*-webkit-appearance: none; */}
	.day-select { border: 1px solid #ccc; color: transparent; z-index: 2;}
	.day-select-container {  border-radius: 4px; }
	.show-days { color: @gray; font-family: helvetica; font-size: 14px; text-align: left; margin-top: -27px; z-index: -999; margin-left: 10px; width: 65%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
}

.time-selector { 
	/*show all days possible to select when not on mobile*/
	@media screen and (min-width: 767px) { 
		.third { width: 25%;}
		select[multiple] { top: 0; margin:0 auto; height: 145px; width: 50px; color: black; }
		#show-days { display: none; }
    } 
}


.space-detail-section { font-family: 'Lato', sans-serif;
            border-color: #ddd; padding: 0 15px 10px 15px;
    @media screen and (max-width: 767px) {
        margin-left: -15px; margin-right: -15px; border-left: none; border-right: none; border-bottom: 0; border-radius: 0; box-shadow: none;
	}
	
	.panel-heading { border-bottom: 1px solid @gray-light; margin-left: -15px; margin-right: -15px;
	    h3 { font-family: 'Dosis', sans-serif; text-transform: uppercase; font-weight: 500; font-size: 1.1em; }
    }
    
    h4 { font-weight: 700; font-size: 1em; }
    
	.section-edit { float: right;
    	.action-link { color: red; }
	}
	.space-detail-item { font-size: 1em; font-weight: 300;
		h4 { margin-bottom: 5px; font-size: 1em; }
		//p { float: right; line-height: 38px; margin-bottom: 0; }
		p { color: @gray; }
		p a { white-space: pre-wrap; word-wrap: break-word;}
	}
	.section-hours {
		h4 { display: inline-block;}
		ul { list-style: none; padding-left: 15px; }
		.label-day { width: 100px; display: inline-block; font-weight: bold;}

	}
}


.space-detail-header { border: none; box-shadow: none; padding-top: 0; 
	.space-detail-item strong { display: inline-block; width: 70px;}
    
    @media screen and (min-width: 767px) {
        padding: 0 0 0 15px;
        .section-edit { margin-right: 15px;}
    }
}




/* edit */
.image-select a { text-align: left;}
.save-discard { margin-top: 2em;}

/* footer */
.space-footer { background: @gray-lighter; line-height: 60px; font-size: 85%; }
.space-footer-copyright:after { 
    
    @media screen and (max-width: 320px) { 
        content: " ACA, UW-IT"; 
    }
    content: " Academic & Collaborative Applications, UW-IT"; 
}

.no-space {
    span { color:@gray; margin-top: -25px; font-size:20px; font-weight:100; display:inline-block; vertical-align: middle; margin-left:12px;
   }
margin: 20px 0 20px 20px;
}
/* fancy loading animation */
.spinner { height:45px; width:45px;  position:relative; display:inline-block; vertical-align: middle; margin: 20px 0 20px 20px;}
.spinner span {
      border-radius: 40px;
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;
      border:3px solid @gray;
      opacity:0;
      -webkit-animation: scale 1.8s ease-out infinite;
    }
.loading {
  color:@gray;
  font-size:30px;
  font-weight:100;
  display:inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left:7px;
}

.loading:after { content:'...' }
.spinner span:nth-child(2) { -webkit-animation-delay:1.2s; }
.spinner span:nth-child(3) { -webkit-animation-delay:600ms; }

@-webkit-keyframes scale {
  0% {opacity:.2;-webkit-transform:scale(0);}
  70% {opacity:1;}
  100% {opacity:0;-webkit-transform:scale(1);}
}
