/*** variables ***/

@gray-dark: #333;
@gray: #555;
@gray-light: #ccc;
@gray-lighter: #eee;
@gray-lightest: #f7f5fa;

@blue-primary: #428bca;
@space-purple: #5a58a3;
@danger: #d9534f;

@logo-url: url('/static/img/spacescout_logo.png');

/*** bootstrap overrides ***/

body { padding-top: 70px; font-family: 'Lato', sans-serif; font-weight: 300;  
    &.freeze { position:relative; overflow-y: hidden !important;}
}

html, body { height: 100%; }


.list-group {
    
    li.list-group-item { 
         
         // list hover state
        &:hover,
        &:focus {
          text-decoration: none;
          background-color: #fff !important;
        }
        
        &:first-child {
            
        }
                   
        // linked items - custom content
        a {
            .list-group-item-heading { color: #333; }
            .list-group-item-text {  color: #555; }
            
            // hover state
            &:hover,
            &:focus {
              text-decoration: none;
              background-color: #fff !important;
            }
        }

        // active list
        &.active {
            
            .list-group-item-heading { color: #fff; }
            .list-group-item-text {  color: #fff; }
            
            &:hover { background: #428bca; border-color: #428bca; }
            
        }
        
        // nested list group items
        .list-group { border: none; /*margin-left: -15px; margin-right: -15px; margin-bottom: -15px;*/
            
            li.list-group-item { border-left: none; border-right: none;
                &:first-child { border-radius: 0; }
                &:last-child { border-bottom: none; }
            }
        }
        
    }
    
    
}


/*** sticky footer ***/

#wrap {
    min-height: 100%;
    @media screen and (max-device-width: 320px) { 
        min-height: 450px; 
    }
    height: auto !important;
    height: 100%;    
    margin: 0 auto -60px; /* negative indent footer by its height */
    padding: 0 0 110px; /* pad bottom by footer height */
}

.alert { margin-top: 20px; }
.navbar { margin-bottom: 0;  border-bottom: solid 5px @space-purple; background-color: @gray-lighter;}

.navbar-header {
     .space-owner { line-height: 65px; padding-left: 12px; color: @space-purple;
            @media screen and (min-width: 768px) { }
        }
}
.navbar-brand { text-align: left; padding: 0; margin: 0; padding-left: 33px; line-height: 60px;  max-width: 300px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;
    
    /* logo specific styles */    
    background: @gray-lighter @logo-url no-repeat 0 14px; 
    background-size: 30px; 
 
    h1 { font-size: 30px; display: inline; text-transform: uppercase; color: @gray-dark; line-height: 60px; font-family: 'Dosis', sans-serif; font-weight: 500; }
    
   
        
}
.navbar>.container .navbar-brand { 
    margin-left: 15px;
    @media screen and (min-width: 768px) { margin-left: 0; }
}
.nav>li>a { padding-top: 15px;}
.navbar-nav { 
    li { font-family: 'Dosis', sans-serif; font-weight: 500; text-transform: uppercase;
        @media screen and (min-width: 768px) { padding-left: 40px; a { padding: 0; } }
        
        a { color: @gray;
            @media screen and (min-width: 768px) { line-height: 65px; }
        }
        
        
    }
}
.navbar-nav:last-child li:first-child a { color: @space-purple; }
.navbar-nav:last-child li:last-child a { color: #000; }
.navbar-toggle { padding: 8px; right: 0; top: 7px; color: @gray; display: block;margin-right: -10px; margin-top: 5px;

    @media screen and (min-width: 768px) { margin-right: 0; text-transform: uppercase; font-family: 'Dosis', sans-serif; font-weight: 500;
        &:after { content: "add new space"; padding-left: 8px; }
    }
}

.navbar-collapse { background-color: @gray-light;    
    @media screen and (min-width: 768px) {
        background: transparent;
        margin: 0;
    }
}

.label { font-size: .8em; font-weight: 300; text-transform: uppercase; }

.btn { font-family: 'Dosis', sans-serif; text-transform: uppercase; font-size: 1.3em; border: none;
    
    -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.08);
}

.btn-success { background: desaturate(@space-purple, 0%); }
.btn-success[disabled] { background: desaturate(@space-purple, 10%); }

.btn-success:hover, .btn-success:focus { background: @space-purple; }

.btn-default { background: desaturate(@gray-lightest, 10%); }
.btn-default:hover { background: @gray-lightest; }

.container { position: relative; }

.space-container {
    h2 { font-family: 'Dosis', sans-serif; text-transform: uppercase; font-size: 1.8em; color: #999; font-weight: 300; color: #625fab; margin-top: 1.2em; margin-bottom: 1em;}
}

.panel-heading { background: @gray-lightest; }

.form-control { box-shadow: none !important; -webkit-box-shadow: none !important; color: @gray-dark; }
input[type=text].form-control, input[type=number].form-control, textarea.form-control { -webkit-appearance: none; }
textarea.form-control { resize: vertical; }

select.form-control { 
     @media screen and (min-width: 768px) { /*-webkit-appearance: none;*/ }
}

/*** action link ***/

.action-link { color: @blue-primary; font-family: 'Dosis', sans-serif; text-transform: uppercase; font-weight: 500;  background: @gray-lighter; padding: 3px 9px;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.08);
}

a.action-link { text-decoration: none; }

/*** required fields ***/

.required-field { display: inline-block;
    .required-field-icon { color: @danger; font-weight: normal; font-size: 50%; vertical-align: text-top; }
    .required-field-text { color: lighten(@danger, 20%); text-transform: uppercase; font-size: 80%; font-weight: normal; font-family: 'Dosis', sans-serif; padding-left: 2px; }
}

/*** home ***/

.nav-pills { margin: 1.5em 0 1em;
    
    li { margin: 0 8px 0 0; 
        @media screen and (max-width: 479px) { margin: 0 !important; }
        a { padding: 10px !important; font-family: 'Dosis', sans-serif; text-transform: uppercase; font-size: 1.3em;
            @media screen and (max-width: 479px) { font-size: 1.1em; }
        }
    }
    
    li.active {
        a, a:hover { background: lighten(@space-purple, 5%); }
    }
}

.space-list { /*border: 1px solid @gray-light;*/ list-style: none; margin: 0; padding: 0; 
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);*/
    
    -webkit-box-shadow: none;
    box-shadow: none;
    
    @media screen and (max-width: 767px) {
        margin: 0 -15px;
        border-top: 1px solid @gray-light; border-bottom: 1px solid @gray-light; 
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; 
        border-bottom: none;   
    }
    
	.space-list-header { line-height: 2em;  font-weight: 400; padding: 0;
	
	    .building-name { padding: 10px 15px; background: @gray-lightest; margin: 0; font-family: 'Dosis', sans-serif; text-transform: uppercase; font-weight: 500;  font-size: 1.1em; }
    	.building-list { list-style: none; padding: 0; margin: 0; }
    }
    
    .space-list-header:first-child {
        
        @media screen and (max-width: 767px) {  
            border-top: none; 
            -webkit-border-top-left-radius: 0;
            -webkit-border-top-right-radius: 0;
            -moz-border-radius-topleft: 0;
            -moz-border-radius-topright: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;    
        } 
        
        .building-name {
        
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright: 4px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            
            @media screen and (max-width: 767px) {   
                -webkit-border-top-left-radius: 0;
                -webkit-border-top-right-radius: 0;
                -moz-border-radius-topleft: 0;
                -moz-border-radius-topright: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            } 
        }
    }
    .space-list-header:last-child { border-top: 1px solid @gray-light; 
        
        @media screen and (max-width: 767px) {  
            border-bottom: none;
            -webkit-border-bottom-left-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            -moz-border-radius-bottomleft: 0;
            -moz-border-radius-bottomright: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0; 
        } 
        
        
    }

	.space-list-item { padding: 0px; line-height: 1.7em; border-top: 1px solid @gray-light; font-weight: 300; font-size: .9em; position: relative;
		
		a { display: block;	background: #fff; padding: 8px 16px; }
		
		.item-name { font-size: 1.2em; color: @blue-primary !important; font-weight: 400;  }
		.item-description { display: block; color: @gray !important; }
		.item-modified-by { font-family: 'Lato', sans-serif; display: block; font-style: italic; color: gray; }
		.item-modified { position: absolute; top:-2px; right: 7px; border-radius: 0; color: #16A085; font-size: 1.2em; 
    		/* tweak for retina displays */
    		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { top: -3px; }
		}
		
		.item-incomplete { 
    		a { display: inline-block !important; }
		}
		
		@media screen and (min-width: 1024px) { padding-right: 30px;
		
			/* a { display: inline-block; width: 32%; } */
			.item-name { display: inline-block; width: 32%; }
			.item-description { display: inline-block; width: 43%;}
			.item-modified-by { display: inline-block; width: 24%; text-align: right; }
			.item-modified { }
            .item-incomplete { display: inline-block; width:43%; }
		}	
	}

}

#incomplete {
    .space-list-item { padding: 0;}
    .item-name-link { display: block; background: #fff; padding-bottom: 0; 
        @media screen and (min-width: 1024px) { width: 32%; display: inline-block; white-space: nowrap; }
    }
    .item-incomplete { padding-left: 16px;
        a { padding: 0; }
    }
    .item-modified-by { padding-left: 16px; margin-top: 4px; margin-bottom: 8px; }
}

.incomplete-list .space-list-item:first-child { 
    @media screen and (max-width: 767px) { 
        border-top: none;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.incomplete-list .space-list-item:last-child {
    @media screen and (max-width: 767px) { 
        border-bottom: none;
        -webkit-border-bottom-left-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomleft: 0;
        -moz-border-radius-bottomright: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

/*** details ***/

.carousel { margin-top: 1em; max-width: 768px; 
     @media screen and (min-width: 1024px) {
        margin: 1em auto;
     } 
}

.carousel-inner { min-height: 193px; background: @gray-lighter;
    @media screen and (min-width: 480px) { min-height: 299px; }
    @media screen and (min-width: 768px) { min-height: 457px; }
    @media screen and (min-width: 1024px) { min-height: 511px; }
}

.carousel-control.right { background-image: none;}
.carousel-control.left  { background-image: none;}
.carousel-control .icon-prev, .carousel-control .icon-next { font-size: 60px; margin-top: -30px;}
.thumb-test { width:100%; height: 240px; background-color: #f3f3f3; text-align: center;}
.thumb-small { width: 120px; height: 90px; background-color: #f3f3f3;}

.image-select { margin:1.5em 0 0; display: none;
    
    /* hide the image selector for mobile and tablet (show on desktop only) */    
    @media screen and (min-width: 1024px) {
        max-width: 768px; margin: 1em auto; display: block;
    }
    
    .fileupload-preview { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  margin-left:5px;
        @media screen and (max-width: 320px) { 
            max-width: 160px;
        }
    }    
}

.image-actions { margin:1.5em 0 0;
    @media screen and (min-width: 1024px) {
        max-width: 768px; margin: 1em auto;
    }
}

.third { width: 32%; display: inline-block;}

.time-selector { margin: 0 auto; padding-left:0; margin-bottom: .35em;
	span { text-align: center; font-weight: bold;}
	.third { width: 32.6%; display: inline-block; vertical-align: top;}
	
	.hour-select,.day-select { }
	
	.day-select { border: 1px solid #ccc; color: transparent; z-index: 2;}
	.day-select-container {  border-radius: 4px; }
	.show-days { color: @gray; font-family: helvetica; font-size: 14px; text-align: left; margin-top: -27px; z-index: -999; margin-left: 10px; width: 65%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
}

.time-selector { 
	
	/* show all days possible to select when not on mobile */
	@media screen and (min-width: 767px) { 
		.third { width: 33%;}
		select[multiple] { top: 0; margin:0 auto; height: 145px; width: 50px; color: black; }
		.show-days { display: none; }
    } 
}

.space-detail-section { font-family: 'Lato', sans-serif; border-color: #ddd; padding: 0 15px 10px 15px;

    @media screen and (max-width: 767px) {
        margin-left: -15px; margin-right: -15px; border-left: none; border-right: none; border-bottom: 0; border-radius: 0; box-shadow: none;
	}
	
	.panel-heading { border-bottom: 1px solid @gray-light; margin-left: -15px; margin-right: -15px;
	    h3 { font-family: 'Dosis', sans-serif; text-transform: uppercase; font-weight: 500; font-size: 1.1em; }
    }
    
    h4 { font-weight: 700; font-size: 1em; 
        small { color: #999; font-size: .9em; padding-left: 1em; }
    }
    
    .space-types-panel { border-color: @gray-lightest; padding: .3em 1em; box-shadow: none; }
    
	.section-edit { float: right;
    	.action-link { color: @blue-primary; background: none; box-shadow: none; }
	}
	.space-detail-item { font-size: 1em; font-weight: 300;
		h4 { margin-bottom: 5px; font-size: 1em; }
		p { color: @gray; word-break: break-word; }
		p a { white-space: pre-wrap; word-wrap: break-word; }
	}
	.section-hours {
		h4 { display: inline-block;}
		ul { list-style: none; padding-left: 15px; }
		.label-day { width: 100px; display: inline-block; font-weight: bold;}

	}
	
	/* style incomplete fields indicator */
	#incomplete-items {
    	
    	.label {
    	    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.08);
            -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.08);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.08);
            
            padding: 3px 9px;
            font-family: 'Dosis', sans-serif;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1em;
            
        	a { color: #fff; text-decoration: none; white-space: normal; word-wrap: normal; }
        	a:visted { color: #fff; }
    	}
	}
}

.space-add-section {
    
    .panel { box-shadow: none; }
    .space-types-panel { border-color: @gray-lightest; padding: .3em 1em; }
    
    h4 { font-weight: 700; font-size: 1em; 
        small { color: #999; font-size: .9em; padding-left: 1em; }
    }
}


.space-detail-header { border: none; box-shadow: none; padding-top: 0; 
	.space-detail-item strong { display: inline-block; width: 70px;}
    
    @media screen and (min-width: 767px) {
        padding: 0 0 0 15px;
        .section-edit { margin-right: 15px;}
    }
}

/*** actions container (buttons) ***/

.save-discard { margin-top: 2em; } /* TODO: change this to more global space-actions class */

/*** footer ***/

.space-footer { background: @gray-lighter; line-height: 60px; font-size: 85%; }
.space-footer-copyright:after { 
    
    @media screen and (max-width: 320px) { 
        content: " ACA, UW-IT"; 
    }
    content: " Academic & Collaborative Applications, UW-IT"; 
}

/*** bootstrap-select overrides ***/

.bootstrap-select:not([class*="span"]) { width: 100%; }
.bootstrap-select { 
    
    .btn { box-shadow: none !important; -webkit-box-shadow: none !important; 
        
        font-family: helvetica;
        font-size: 14px;
                                
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        
        border: solid 1px #ccc;
        height: 34px;
        text-transform: capitalize;
        
        background: #fff;
        
        /* give webkit browsers a gradient instead of the white */
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
        background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
        /*background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);*/
    }
    
    .btn:focus { /*background: none;*/ border-color: #7dace9; }
    
    &.btn-group { margin-bottom: 0; }
}

/*** bootstrap-select overrides - specific to firefox ***/

@-moz-document url-prefix() {
    .bootstrap-select .btn:focus { border-color: #7dace9; }
    .bootstrap-select .btn .caret { display: inline-block; }
}

/*** no spaces to manager ***/

.no-space { /*margin: 20px 0 20px 20px;*/ margin: 0; padding: 132px 0; text-align: center; text-transform: uppercase;
    i { display: inline-block; width: 45px; height: 45px; font-size: 3.2em; }
    span { color:@gray-light; margin-top: -25px; font-size:20px; font-weight:100; display:inline-block; vertical-align: middle; margin-left:7px; }
}

/*** fancy loading ***/

.space-content-loading {
    width: 230px;
    margin: 0 auto;
    padding: 110px 0;
}

.spinner { height:45px; width:45px;  position:relative; display:inline-block; vertical-align: middle; margin: 20px 0 20px 20px;}
.spinner span {
    border-radius: 40px;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    border:3px solid @gray;
    opacity:0;
    -webkit-animation: scale 1.8s ease-out infinite;
    animation: scale 1.8s ease-out infinite;
}
.loading {
    color:@gray-light;
    font-size:20px;
    font-weight:100;
    display:inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left:7px;
}
.loading:after { content:'...' }
.spinner span:nth-child(2) { -webkit-animation-delay:1.2s; animation-delay:1.2s;  }
.spinner span:nth-child(3) { -webkit-animation-delay:600ms; animation-delay:600ms; }

/* make it animation on webkit */
@-webkit-keyframes scale {
    0% {opacity:.2;-webkit-transform:scale(0); }
    70% {opacity:1;}
    100% {opacity:0;-webkit-transform:scale(1); }
}

/* make it animate on ie and mozilla */
@keyframes scale {
    0% {opacity:.2; transform:scale(0); }
    70% {opacity:1;}
    100% {opacity:0; transform:scale(1); }
}


::-webkit-input-placeholder {
   color: @gray-light !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: @gray-light !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: @gray-light !important;  
}

:-ms-input-placeholder {  
   color: @gray-light !important;  
}
