.header { background-color: #333; color: #fff; line-height: 40px; height: 40px;
    .header-inner { margin: 0 20px; }
}

.content {
    margin: 20px;

    .table-options { margin-bottom: 5px;
        ul { margin: 0;
            li { list-style: none; display: inline-block; margin-right: 2px;
                a { text-decoration: none; }
                i { vertical-align: sub; }
            }
            li:last-child { margin-right: 0; }
        }
    }
    .table-container { /*height: 200px; overflow-y: scroll;*/
        .table { font-size: 12px;
            thead { background-color: #e3e3e3; }
            .check { width: 20px; text-align: center; }
            .id { width: 40px; }
        }
    }

}




.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}