{% extends 'spacescout_admin/base-space.html' %}

{% load verbatim %}
{% load i18n %}

{% block title %}
    {% if IS_MOBILE %}
        {% trans "admin" %}
    {% else %}
        {% trans "spacescout admin" %}
    {% endif %}
{% endblock %}

{% block userid %}{{ remote_user }}{% endblock %}

{% block extra_js %}
{% if CAN_CREATE %}
<script src="{{ STATIC_URL }}spacescout_admin/js/add.js"></script>
{% endif %}
{% endblock %}

{% block content %}

{% if CAN_CREATE %}

{% include "spacescout_admin/input.html" %}


<h2>{% trans "add_new_space" %}</h2>
<p>{% trans "all_fields_required" %}</p>
    
<div class="space-add-section">
    <div class="panel">
    </div>
</div>

<div class="save-discard">
  <a href="javascript:void(0);" class="btn btn-success btn-lg btn-block" disabled>Add Space</a>
</div>
{% else %}
<div class="no-space">
  <i class="icon-frown icon-3x"></i><span>You are not allowed to create spaces</span>
</div>
{% endif %}


<script type="text/javascript">
window.spacescout_admin = window.spacescout_admin || {};
window.spacescout_admin.app_url_root = '{{ APP_URL_ROOT }}';
window.spacescout_admin.fields = {{ SPACE_FIELDS }};
window.spacescout_admin.csrf_token = '{{ csrf_token }}';
window.spacescout_admin.vars = {};
window.spacescout_admin.vars.username = '{{ user.username }}';
</script>

{% endblock %}
