{% extends "spacescout_admin/base-space.html" %}

{% load i18n %}

{% block title %}
    {% if IS_MOBILE %}
        {% trans "admin" %}
    {% else %}
        {% trans "spacescout admin" %}
    {% endif %}
{% endblock %}

{% block content %}

{% if form.errors %}

<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div style="margin-top:2em;">
    <form class="form-signin" method="post" action="{% url django.contrib.auth.views.login %}">

        {% csrf_token %}

        <h2 class="form-signin-heading">Please sign in</h2>
        
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>
                
        <div style="margin-top:1em;">
            <input type="submit" class="btn btn-lg btn-success btn-block" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    
    </form>
</div>
{% endblock %}
