{% extends 'base.html' %}

{% block title %}Spaces{% endblock %}

{% block content %}
    
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
    
    <h2>Add New Space</h2>
    <p>All fields on this page are required in order to create the initial space listing.</p>
    
    <div class="space-add-section">
    <div class="panel">
        
        <div class="form-group">
            <h4>Campus <span class="glyphicon glyphicon-asterisk required-field"></span></h4>
            <select class="form-control">
                <option>Seattle</option>
                <option>Tacoma</option>
                <option>Bothell</option>
            </select>
        </div>
        
        <div class="form-group">
            <h4>Space name <span class="glyphicon glyphicon-asterisk required-field"></span></h4>
            <input type="text" id="" class="form-control" placeholder="Room 112">
        </div>
        
        <div class="form-group">
            <h4>Space type <span class="glyphicon glyphicon-asterisk required-field"></span> <small>Select up to two</small></h4>        
            <div class="panel space-types-panel">  
                <div class="checkbox">
                    <label><input type="checkbox" value="">Study room</label>
                    <p class="text-muted">Enclosed space for individual or group</p>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Study area</label>
                    <p class="text-muted">Unenclosed space for individual or group</p>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Computer lab</label>
                    <p class="text-muted">A number of computers grouped in a way that students would call a &ldquo;lab&rdquo;</p>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Production studio</label>
                    <p class="text-muted">Work space with specialized equipment or technology, such as a multimedia studio</p>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Conference/classroom</label>
                    <p class="text-muted">Larger-capacity rooms primarily used for classes, meetings, or workshops</p>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Open space</label>
                    <p class="text-muted">Area for use by multiple individuals or groups; may contain a range of furniture -- carrels, tables, lounge furniture</p>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Lounge</label>
                    <p class="text-muted">Indoor casual space, typically with lounge furniture and low tables</p>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Cafe</label>
                    <p class="text-muted">Space that functions primarily as an eatery</p>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Outdoor area</label>
                    <p class="text-muted">Outdoor casual space</p>
                </div>
            </div>
            
        </div>
            
        <div class="form-group">
            <h4>Owner  <span class="glyphicon glyphicon-asterisk required-field"></span></h4>
            <input type="text" id="" class="form-control" placeholder="Netid" value="mikes">
        </div>
    
    </div>
    </div>
        
    <div class="save-discard">
        <a href="/space" class="btn btn-success btn-lg btn-block" disabled>Add Space</a>
    </div>
    
    

{% endblock %}