{% extends 'base.html' %}

{% load verbatim %}
{% load i18n %}

{% block title %}{% trans "spaces" %}{% endblock %}

{% block userid %}{{ remote_user }}{% endblock %}

{% block extra_js %}
<script src="/static/js/add.js"></script>
{% endblock %}

{% block content %}

{% include "input.html" %}


<h2>{% trans "add_new_space" %}</h2>
<p>{% trans "all_fields_required" %}</p>
    
<div class="space-add-section">
    <div class="panel">
    </div>
</div>

<div class="save-discard">
  <a href="javascript:void(0);" class="btn btn-success btn-lg btn-block" disabled>Add Space</a>
</div>

<script type="text/javascript">
window.spacescout_admin = window.spacescout_admin || {};
window.spacescout_admin.fields = {{ SPACE_FIELDS }};
window.spacescout_admin.csrf_token = '{{ csrf_token }}';
</script>

{% endblock %}
