{% extends 'base.html' %}

{% block content %}

<div id="error_message" class="alert alert-error fade in" style="margin-bottom:8px;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
</div>

<div class="table-container">
<form name="add_space" action="" method="">

    <div class="table-options clearfix">
        <h5 class="pull-left" style="margin:0;">ADD SPACE</h5>
    </div>

    <div id="table_scroller_container" class="table-scroll">
    <table class="table table-bordered table-striped table-condensed">
        <caption class="visuallyhidden">List of Spaces</caption>
          <thead>
              <tr>
                  <th style="width:200px;">Field</th>
                  <th>Value</th>
                  <th></th>
              </tr>
          </thead>

          <tbody>
              <tr>
                  <td>Space Name</td>
                  <td><input type="text" value=""></td>
                  <td>sdalkfja</td>
              </tr>
              <tr>
                  <td>column2</td>
                  <td><input type="text" value=""></td>
                  <td>sdalkfja</td>
              </tr>
              <tr>
                  <td>column3</td>
                  <td>
                      <select>
                        <option>aslkdflkasdfj sadflkas</option>
                        <option>asfddsf</option>
                        <option>qweiu roi oweui</option>
                        <option>4sdaouwen khj</option>
                        <option>zxzx xncvxb</option>
                    </select>
                  </td>
                  <td>sdalkfja</td>
              </tr>
              <tr>
                  <td>column4</td>
                  <td><input type="text" value=""></td>
                  <td>sdalkfja</td>
              </tr>
              <tr>
                  <td>column5</td>
                  <td><input type="text" value=""></td>
                  <td>sdalkfja</td>
              </tr>
              <tr>
                  <td>column6</td>
                  <td>
                      <select>
                        <option>aslkdflkasdfj sadflkas</option>
                        <option>asfddsf</option>
                        <option>qweiu roi oweui</option>
                        <option>4sdaouwen khj</option>
                        <option>zxzx xncvxb</option>
                    </select>
                  </td>
                  <td>sdalkfja</td>
              </tr>
              <tr>
                  <td>column7</td>
                  <td><input type="text" value=""></td>
                  <td>sdalkfja</td>
              </tr>
          </tbody>
      </table>
    </div>
    <div class="table-sub-options clearfix">
        <ul class="pull-left">
            <li><button  id="" class="btn btn-mini btn-primary" type="submit"><i class="icon-check icon-white"></i> Save</button></li>
            <li><button id="" class="btn btn-mini"><i class="icon-ban-circle"></i> Cancel</button></li>
        </ul>
    </div>

</form>
</div>

{% endblock %}
