<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SpaceScout&trade; Admin Application</title>
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
        <link type="text/less" rel="stylesheet" href="/static/css/main.less" media="screen, handheld" charset="utf-8" />
        
        <link href='http://fonts.googleapis.com/css?family=Dosis:300,500' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic' rel='stylesheet' type='text/css'>
        
        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

        <!-- Modernizr & LessJS -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>

        {% load compress %}
 
        {% compress js %}

        <script src="/static/js/hide-address-bar.js"></script>
        <script src="/static/js/main.js"></script>
 
        <script type="text/javascript" src="{{ STATIC_URL }}lib/handlebars.js"></script>


        {% endcompress %}
        {% block extra_js %}{% endblock %}
        
    </head>
    <body>
    <div id="wrap">
        
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><h1>{% block title %}{% endblock %}</h1></a>
                  </div>
            </div>
        </nav>

        <div class="container space-container">
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}{% endblock %}
                </div>
            </div><!-- /row -->   
        </div> <!-- /container -->
        </div>
        <footer class="space-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 space-footer-copyright">Copyright &copy; 2013 |</div>
                </div>
            </div>
        </footer>
    </body>
</html>
