<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SpaceScout&trade; Admin Application</title>
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0; user-scalable=no">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
        <link type="text/less" rel="stylesheet" href="/static/css/main.less" media="screen, handheld" charset="utf-8" />
        
        <link href='http://fonts.googleapis.com/css?family=Dosis:300,500' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic' rel='stylesheet' type='text/css'>
        
        <!-- Modernizr & LessJS -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
        
    </head>
    <body>
    

    <body>
    
        <!-- Static navbar -->
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/"><h1>{% block title %}{% endblock %}</h1></a>
            </div>
        </div>

        <div class="container space-container">
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}{% endblock %}
                </div>
            </div><!-- /row -->   
        </div> <!-- /container -->
        
        <div class="container md-modal md-effect-17" id="modal-3" style="">
    		<div class="md-content" style="">
    			<button class="md-close edit-panel-close">Close me!</button>
    			
    			<div class="edit-container">
    			    <h2 style="font-family: 'Lato', sans-serif; font-weight:400; text-transform:capitalize; color:#333;">Allen 3rd N/S Bridge EDIT</h2>
    				<p>This is a modal window. You can do the following things with it:</p>
    				<ul>
    					<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
    					<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
    					<li><strong>Close:</strong> click on the button below to close the modal.</li>
    				</ul>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
    
    Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    				
    			</div>
    			
    		</div>
    	</div>


        <footer class="space-footer">
            <div class="container" style="padding:1em 0;">
                <div class="row">
                    <div class="col-lg-12">Copyright &copy; 2013 | Academic &amp; Collaborative Applications, UW-IT</div>
                </div>
            </div>
        </footer>
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    
    <script src="/static/js/main.js"></script>

  </body>
</html>