<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SpaceScout&trade; Admin Application</title>
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent">
        
        {% load compress %}
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
        
        {% compress css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}spacescout_admin/css/bootstrap-select.min.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}spacescout_admin/css/bootstrap-fileupload.min.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}spacescout_admin/css/jquery.nouislider.min.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}spacescout_admin/css/main.less" type="text/less">
        {% endcompress %}
        
        <link href='//fonts.googleapis.com/css?family=Dosis:300,500' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic' rel='stylesheet' type='text/css'>
        
        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="{{ APP_URL_ROOT }}jsi18n/"></script>
        <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

        <!-- Font Awesome -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        {% compress js %}
            <script src="{{ STATIC_URL }}spacescout_admin/js/bootstrap-select.min.js"></script>
            <script src="{{ STATIC_URL }}spacescout_admin/js/bootstrap-fileupload.min.js"></script>
            <script src="{{ STATIC_URL }}spacescout_admin/lib/handlebars.js"></script>
            <script src="{{ STATIC_URL }}spacescout_admin/lib/jquery.form.min.js"></script>
            <script src="{{ STATIC_URL }}spacescout_admin/lib/jquery.nouislider.min.js"></script>
            <script src="{{ STATIC_URL }}spacescout_admin/js/main.js"></script>
            {% block extra_js %}{% endblock %}
        {% endcompress %}
        
    </head>
    
    <body>
    <div id="wrap">
        
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header clearfix" style="width:100%;">
                    <a class="navbar-brand pull-left" href="{{ APP_URL_ROOT }}"><h1>{% block title %}{% endblock %}</h1></a> <span class="space-owner">{% block userid %}{% endblock %}</span>
                    {% if CAN_CREATE %}
                    <button type="button" class="navbar-toggle" onclick="location.href='{{ APP_URL_ROOT }}add'"><span class="glyphicon glyphicon-plus"></span></button>
                    {% endif %}
                  </div>
            </div>
        </nav>

        <div class="container space-container">
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}{% endblock %}
                </div>
            </div><!-- /row -->   
        </div> <!-- /container -->
    </div> <!--/wrap -->
    
    <footer class="space-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 space-footer-copyright">Copyright &copy; 2013 |</div>
            </div>
        </div>
    </footer>
    
    </body>
</html>
