<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css" rel="stylesheet">

        {% load compress %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{STATIC_URL}}css/styles.less" media="screen" />
        {% endcompress %}

        <!--[if (lt IE 9)&(!IEMobile)]>
        <link href="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js" rel="stylesheet">
        <![endif]-->

    </head>
    <body class="freeze">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">SPACESCOUT MANAGER</a>
                <div class="nav-collapse collapse">
                    <div class="login pull-right clearfix">
                        <div id="user_login_info" class="navbar-text pull-right">Charlon Palacay&nbsp;&nbsp;<a href="#" id="user_logout_link" class="text-error" style="margin-left:8px;">Logout</a></div>
                    </div>
                    <ul class="nav">
                        <li class="active dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Campus <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Bothell</a></li>
                                <li><a href="#">Seattle</a></li>
                                <li><a href="#">Tacoma</a></li>
                            </ul>
                        </li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="filter_block">
        <div style="padding:10px;color:#222;">
            <div class="clearfix"><h5 style="margin-top:0;display:inline-block;">FILTERS</h5> <a href="#" id="filter_block_button" class="dropdown pull-right"><i class="icon-chevron-down" style="opacity:.5;"></i></a></div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam pulvinar dolor, non ultrices quam hendrerit non. Phasellus vel laoreet sapien. Vivamus imperdiet dapibus ornare. Proin bibendum pellentesque risus id viverra. Aenean tellus ligula, tempus sit amet rhoncus eget, tincidunt ac mi. Cras vitae nisl at lectus mattis vulputate in vel mauris. Integer vehicula nibh lobortis magna cursus fringilla. Nam tincidunt dolor sed felis ultricies bibendum. Vivamus auctor odio sit amet nisl pretium quis faucibus diam dictum. Donec consequat turpis eget justo pharetra ut mattis ipsum tempus. Nunc pharetra tempor tempor. Morbi sed dolor erat, id malesuada sapien.</div>

        </div>
    </div>

        <div id="main" class="content">
        {% block content %}{% endblock %}
        </div>


        <!-- jQuery CDN -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>

        {% compress js %}
            <script src="{{STATIC_URL}}js/main.js"></script>
            {% block extra_js %} {% endblock %}
        {% endcompress %}

    </body>
</html>