{% extends 'base.html' %}

{% block content %}
{% load ss_admin_extras %}

{% if json_in_db and failed_json %}
<div id="error_message" class="alert alert-error fade in" style="margin-bottom:8px;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>ETAG</strong> Your Etag didn't match!
</div>

<h1>Someone was probably editing the spot the same time you were and beat you to it.</h1>
{% elif not json_in_db and not failed_json %}
<h1>No Spots!</h1>
{% endif %}

<div class="table-container">
<div class="tableDiv">
<div class="table-scroll">
{% if json_in_db %}
<h5>JSON currently in DB</h5>
<p>
{% for key in json_in_db %}
{{ key }}: {{ json_in_db|lookup:key }}<br />
{% endfor %}
</p>
{% endif %}
{% if failed_json %}
<hr />
<h5>Your failed JSON</h5>
<p>
{% for key in failed_json %}
{{ key }}: {{ failed_json|lookup:key }}<br />
{% endfor %}
</p>
{% endif %}
</div>
</div>
</div>

<!--
<div class="table-container">
    <div id="edit_space_table" class="tableDiv">
        <table style="width:100%;">
              <thead>
                  <tr>
                      <td class="col-field">Field</td>
                      <td class="col-value">Value</td>
                  </tr>
              </thead>
        </table>
        <div id="edit_space_scroller" class="table-scroll">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td class="col-field">id</td>
                        <td class="col-value"><input type="text" name="id" value="{{ spot_id }}" readonly /></td>
                    </tr>
                    {% for key in json_data %}
                        {% if not schema|lookup:key == 'auto' %}
                          <tr>
                              <td class="col-field">{{ key }}</td>
                              {% if schema|lookup:key|classname == 'list' %}
                                  <td class="col-value">
                                      {% for t in schema|lookup:key %}
                                          {% if t in json_data|lookup:key or t == json_data|lookup:key %}
                                              <input type="checkbox" name="{{ key }}" value="{{ t }}" checked="checked">{{ t }}</input><br />
                                          {% else %}
                                              <input type="checkbox" name="{{ key }}" value="{{ t }}">{{ t }}</input><br />
                                          {% endif %}
                                      {% endfor %}
                                  </td>
                              {% elif schema|lookup:key|classname == 'dict' %}
                                  <td class="col-value">
                                      <table style="width:100%;">
                                          {% for subkey in json_data|lookup:key %}
                                              <tr>
                                                  <td class="col-field">{{ subkey }}</td>
                                                  <td class="col-value"><input type="text" name="{{ subkey }}" value="{{ json_data|lookup:key|lookup:subkey }}" /></td>
                                              </tr>
                                          {% endfor %}
                                      </table>
                                  </td>
                              {% else %}
                                  <td class="col-value"><input type="text" name="{{ key }}" value="{{ json_data|lookup:key }}" /></td>
                              {% endif %}
                          </tr>
                        {% endif %}
                    {% endfor %}
                 </tbody>
              </table>
          </div>
    </div>
-->

</div>

{% endblock %}
