{% extends 'base.html' %}

{% block content %}

<h1>Edit</h1>

<div id="alert_messages" class="alert alert-error fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Oh snap!</strong> Change a few things up and try submitting again.
</div>

<div class="table-container">

    <div class="table-options clearfix">
        <ul class="pull-left">
            <li><a href="#" id="save_button" class="btn btn-mini btn-primary"><i class="icon-check icon-white"></i> Save</a></li>
            <li><a href="#" id="cancel_button" class="btn btn-mini"><i class="icon-ban-circle"></i> Cancel</a></li>
        </ul>
    </div>

    <table class="table table-bordered table-striped table-condensed">
        <caption class="visuallyhidden">Edit Multiple Spaces</caption>
        <thead style="">
            <tr>
                <th class="id">ID</th>
                <th>Space</th>
                <th>column2</th>
                <th>colunn3</th>
            </tr>
        </thead>
        <tbody>

            {% for i in count %}
            <tr>
                <td>{{i}}</td>
                <td><input type="text" value="asdjflasdk"></td>
                <td><input type="text" value="asdjflasdk"></td>
                <td>
                    <select>
                        <option>aslkdflkasdfj sadflkas</option>
                        <option>asfddsf</option>
                        <option>qweiu roi oweui</option>
                        <option>4sdaouwen khj</option>
                        <option>zxzx xncvxb</option>
                    </select>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</div>

{% endblock %}
