{% extends 'base.html' %}

{% block content %}
{% load ss_admin_extras %}

<!--
<div id="error_message" class="alert alert-error fade in hide" style="margin-bottom:8px;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Oh snap!</strong> You have empties!
</div>
-->

<div class="table-container">
<form name="add_space" action="/space/{{ spot_id }}" method="POST">{% csrf_token %}

    <div class="table-options clearfix">
        <h5 class="pull-left" style="margin:0;display:inline-block;">EDIT SPACE</h5>
        <ul class="pull-right">
            {% if status == 'updated' %}
                <li class="muted">Recently updated by {{ updated_by }} on {{ last_modified }}. Approve changes?</li>
                <li><button type="submit" id="publish_button" class="btn btn-mini" name="changed" value="approved">Approve</button></li>
            {% elif status == 'approved' %}
                <li class="muted">Changes were approved by {{ approved_by }} on {{ last_modified }} and will be put into the queue. Skip queue and publish now?</li>
                <li><button type="submit" id="publish_button" class="btn btn-mini btn-success" name="changed" value="publish">Publish</button></li>
            {% else %}
                <li class="muted">Last updated on {{ space_last_modified }}</li>
            {% endif %}
        </ul>
    </div>

    <div id="edit_space_table" class="tableDiv">
        <table style="width:100%;">
              <thead>
                  <tr>
                      <td class="col-field">Field</td>
                      <td class="col-value">Value</td>
                  </tr>
              </thead>
        </table>
        <div id="edit_space_scroller" class="table-scroll">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td class="col-field">id</td>
                        <td class="col-value"><input type="text" name="id" value="{{ spot_id }}" readonly /></td>
                    </tr>
                    <tr style="display: None;">
                        <td class="col-field">space_tag</td>
                        <td class="col-value"><input type="text" name="space_etag" value="{{ space_etag }}" readonly /></td>
                    </tr>
                    {% if last_modified %}
                    <tr>
                        <td class="col-field">last_modified</td>
                        <td class="col-value"><input type="text" name="last_modified" value="{{ last_modified }}" readonly /></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="col-field">space_last_modified</td>
                        <td class="col-value"><input type="text" name="space_last_modified" value="{{ space_last_modified }}" readonly /></td>
                    </tr>
                    {% for key in schema %}
                    {% if not schema|lookup:key == 'auto' %}
                      <tr>
                          <td class="col-field">{{ key }}</td>
                          {% if schema|lookup:key|classname == 'list' %}
                          <td class="col-value">
                              {% for t in schema|lookup:key %}
                              {% if t in spot|lookup:key %}
                              <input type="checkbox" name="{{ key }}" value="{{ t }}" checked="checked">{{ t }}</input><br />
                              {% else %}
                              <input type="checkbox" name="{{ key }}" value="{{ t }}">{{ t }}</input><br />
                              {% endif %}
                              {% endfor %}
                          </td>
                          {% else %}
                          <td class="col-value"><input type="text" name="{{ key }}" value="{{ spot|lookup:key }}" /></td>
                          {% endif %}
                      </tr>
                    {% if errors %}
                    {% if key in errors %}
                      <tr>
                          <td class="col-field col-error">ERROR - {{ key }}</td>
                          <td class="col-value col-error"><input type="text" name="ERROR - {{ key }}" value="{{ errors|lookup:key }}" readonly /></td>
                      </tr>
                    {% endif %}
                    {% endif %}

                    {% endif %}
                    {% endfor %}
                 </tbody>
              </table>
              {% if q_id %}<input type="hidden" name="q_id" value="{{ q_id }}" />{% endif %}
          </div>
    </div>
    <div class="table-sub-options clearfix">
        <ul class="pull-left">
            <li><button id="save_button" class="btn btn-mini btn-primary" type="submit"><i class="icon-check icon-white"></i> Save</button></li>
            <li><button id="cancel_button" class="btn btn-mini"><i class="icon-ban-circle"></i> Cancel</button></li>

        </ul>

    </div>

</form>
</div>

{% endblock %}
