{% extends 'base-space.html' %}

{% load verbatim %}
{% load i18n %}

{% block title %}Edit{% endblock %}

{% block extra_js %}
<script src="/static/js/edit.js"></script>
{% endblock %}

{% block content %}

<h2 id="space-name">{{ name }}</h2>

<div class="panel space-detail-section space-content-loading">
    <div class="spinner" role="alert">
      <span></span><span></span><span></span>
    </div>
    <div class="loading">Loading</div>
</div>

<div id="space-editor"></div>

<!-- Done -->
<div class="save-discard">
  <a href="/space/{{SPOT_ID}}" class="btn btn-success btn-lg btn-block">Done</a>
</div>


<script id="space-edit-basic" type="text/html">
{% verbatim %}
    <!-- Edit basic info -->
    <div class="form-group">
        <h4>Space Name</h4>
        <input type="text" class="form-control" id="input-space-name" placeholder="Text input" value="{{ name }}">
    </div>
    
    <div class="form-group">
          <h4>Space Type <small> Select all that apply</small></h4>
          {{# each types }}
          <div class="checkbox">
              <label><input type="checkbox" value="{{ value }}" {{ choice }}>{{ name }}</label>
              {{# if has_help }}
              <p class="text-muted">{{ help }}</p>
              {{/if}}
          </div>
          {{/each}}
    </div>
    
    <div class="form-group">
        <h4>Owner</h4>
        <input type="text" class="form-control" placeholder="Text input" value="{{ manager }}">
    </div>
    
    <div class="form-group">
        <h4>Editors</h4>
        <input type="text" class="form-control" placeholder="Text input" value="{{ editors }}">
    </div>
{% endverbatim %}
</script>

<script id="editor-container" type="text/html">
{% verbatim %}
    <div class="panel space-detail-section ">
        <div class="panel-heading">
            <h3 class="panel-title">{{ section }}</h3>
        </div>
    </div>
{% endverbatim %}
</script>

<script id="space-edit-select" type="text/html">
{% verbatim %}
    <h4>{{ name }}</h4>
    <select class="form-control">
      {{ #each inputs }}
        <option value="{{ value }}" {{ choice }}>{{ name }}</option>
      {{/each}}
    </select>
{% endverbatim %}
</script>

<script id="space-edit-checkboxes" type="text/html">
{% verbatim %}
    <h4>{{name}} <small>{{{ help }}}</small></h4>
    {{ #each inputs }}
    <div class="checkbox">
      <label><input type="checkbox" value="{{ value }}" {{ choice }}>{{ name }}</label>
    </div>
    {{/each}}
{% endverbatim %}
</script>

<script id="space-edit-radio" type="text/html">
{% verbatim %}
    <h4>{{name}} <small>{{{ help }}}</small></h4>
    {{ #each inputs }}
    <div class="radio">
      <label><input type="radio" value="{{ value }}" name="{{ group }}" {{ choice }}>{{ name }}</label>
    </div>
    {{/each}}
{% endverbatim %}
</script>

<script id="space-edit-input" type="text/html">
{% verbatim %}
    <h4>{{name}} <small>{{{ help }}}</small></h4>
    {{ #each inputs }}
    {{name}} <input type="text" class="form-control" placeholder="Text input" value="{{ value }}">
    {{/each}}
{% endverbatim %}
</script>

<script id="space-edit-textarea" type="text/html">
{% verbatim %}
    <h4>{{name}} <small>{{{ help }}}</small></h4>
    <textarea class="form-control" rows="2" placeholder="{{ placeholder }}">{{ value }}</textarea>
{% endverbatim %}
</script>

<script id="space-edit-hours" type="text/html">
    <h4>Space - <small>Normal</small></h4>
    <div class="time-selector">
      <span class="third">Days</span>
      <span class="third">Open</span>
      <span class="third">Close</span>
    </div>
    <div style="margin: 1em 0;"><a id="add-hours" href="javascript:void(0);" class="action-link">{% trans "add_hours_group" %}</a></div>
</script>

<script id="hours-editor" type="text/html">
{% verbatim %}
    <!-- repeat this row with each new "add new group"-->
    <div class="time-selector">    
      <div class="day-select-container third">
        <select multiple id="days"></select>
        <div class="show-days">Select days</div>
      </div>
      <select class="form-control third hour-select" id="opening-time"></select>
      <select class="form-control third hour-select" id="closing-time"></select>
    </div>
{% endverbatim %}
</script>

<script id="space-edit-access" type="text/html">
{% verbatim %}
    <!-- Edit access -->
    <div class="panel space-detail-section ">
        <div class="panel-heading">
            <h3 class="panel-title">Access</h3>
        </div>
    
      <h4>Access Notes</h4>
      <textarea class="form-control" rows="2" placeholder="Enter Hours notes"></textarea>
      <h4>Reservability</h4>
      <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Space is reservable
          </label>
      </div>
      <textarea class="form-control" rows="2" placeholder="Enter additional details such as reservation link"></textarea>
    </div>
{% endverbatim %}
</script>
    
<script id="space-edit-images" type="text/html">
{% verbatim %}
    <!-- Edit images -->

      <div class="image-select fileupload fileupload-new clearfix" data-provides="fileupload">
          <span class="btn-file pull-left action-link"><span class="fileupload-new">select image</span><span class="fileupload-exists">Change</span><input type="file" /></span>
          <span class="fileupload-preview pull-left"></span>
          <a href="#" class="close fileupload-exists pull-left" data-dismiss="fileupload" style="margin-left:5px; font-size:20px;">×</a>
          
          <a href="#0" class="action-link pull-right">upload</a>
      </div>

      <div class="row">
        <div id="image-carousel" class="col-xs-12 carousel slide carousel-test" data-interval="false">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {{# each thumbnails }}
            <li data-target="#image-carousel" data-slide-to="{{ @index }}" {{#if @index}}{{else}}class="active"{{/if}}></li>
            {{/each}}
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {{# each thumbnails }}
            <div class="item {{ active }}">
              <img src="{{ img_url }}" />
              <div class="carousel-caption">{{ caption }}</div>
            </div>
            {{/each}}
        </div>
      
        <!-- Controls -->
        <a class="left carousel-control" href="#image-carousel" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#image-carousel" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>
    
    <div class="clearfix" style="margin-top:1em;">
        <a href="javascript:void(0);" class="action-link pull-left" style="margin-right:15px;">make default</a>
        <a href="javascript:void(0);" class="action-link pull-left">delete</a>
    </div>
      
{% endverbatim %}
</script>

<script id="no-section" type="text/html">
{% verbatim %}
  <div class="no-space">
    <i class="icon-frown icon-3x"></i><span>No section to edit.</span>
  </div>
{% endverbatim %}
</script>

<script type="text/javascript">
window.spacescout_admin = window.spacescout_admin || {};
window.spacescout_admin.spot_id = '{{ SPOT_ID }}';
window.spacescout_admin.is_mobile = {{ IS_MOBILE }};
</script>
    
{% endblock %}
