{% extends 'base-space.html' %}

{% load verbatim %}
{% load i18n %}

{% block title %}
    {% if IS_MOBILE %}
        {% trans "admin" %}
    {% else %}
        {% trans "spacescout admin" %}
    {% endif %}
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/edit.js"></script>
{% endblock %}

{% block content %}

{% include "input.html" %}

<div class="space-content-loading">
    <div class="spinner" role="alert">
      <span></span><span></span><span></span>
    </div>
    <div class="loading">Loading</div>
</div>

<h2><a id="space-name" href="{{ APP_ROOT_URL }}space/{{SPACE_ID}}"></a></h2>

<div id="space-editor"></div>

<script id="space-edit-hours" type="text/html">
    <h4>{% trans "normal_hours" %}</h4>
    <div class="time-selector">
      <span class="third">Day(s)</span>
      <span class="two-thirds">Hours</span>
    </div>
    <div style="margin: 1em 0;"><a id="add-hours" href="javascript:void(0);" class="action-link">{% trans "add_hours_group" %}</a></div>
</script>

<script id="hours-editor" type="text/html">
{% verbatim %}
    <!-- repeat this row with each new "add new group"-->
    <div class="time-selector business-hours">
      <div class="day-select-container third">
        <select multiple id="days"></select>
        <div class="show-days">Select days</div>
      </div>
      <div class="hours-slider-container two-thirds">
        <div class="noUiSlider hours-slider"></div><span id="opening-time"></span> - <span id="closing-time"></span>
      </div>
      <input type=hidden id="hours-open" value="">
      <input type=hidden id="hours-close" value="">
    </div>
{% endverbatim %}
</script>

<script id="space-edit-images" type="text/html">
    <!-- Edit images -->

      <div class="image-select fileupload fileupload-new clearfix" data-provides="fileupload">
        <form id="upload_form" method="post" enctype="multipart/form-data">{% csrf_token %}
          <span class="btn-file pull-left action-link"><span class="fileupload-new">select image</span><span class="fileupload-exists">Change</span><input name="image" type="file" /></span>
          <span class="fileupload-preview pull-left"></span>
          <a href="#" class="close fileupload-exists pull-left" data-dismiss="fileupload" style="margin-left:5px; font-size:20px;">×</a>

          <input type="submit" value="upload" class="action-link pull-right" id="upload_button" style="border: none;" />
        </form>
      </div>

{% verbatim %}
      <div class="">
        <div id="image-carousel" class="carousel slide carousel-test" data-interval="false">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {{# each images }}
            <li data-target="#image-carousel" data-slide-to="{{ @index }}" {{#if @index}}{{else}}class="active"{{/if}}></li>
            {{/each}}
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {{# each images }}
            <div class="item {{ active }}">
              <img src="{{ url }}" />
              <div class="carousel-caption">{{ description }}</div>
            </div>
            {{/each}}
        </div>
      
        <!-- Controls -->
        <a class="left carousel-control" href="#image-carousel" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#image-carousel" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>
    
    <div class="clearfix image-actions">
        <a href="javascript:void(0);" class="action-link pull-left" style="margin-right:15px;">make default</a>
        <a href="javascript:void(0);" class="action-link pull-left" id="delete_button">delete</a>
    </div>
      
{% endverbatim %}
</script>

<!-- Done -->
<script id="space-edit-save" type="text/html">
<div class="save-discard">
  <a href="{{ APP_ROOT_URL }}space/{{SPACE_ID}}" class="btn btn-success btn-lg btn-block">Save</a>
</script>
</div>

<script type="text/javascript">
window.spacescout_admin = window.spacescout_admin || {};
window.spacescout_admin.app_url_root = '{{ APP_URL_ROOT }}';
window.spacescout_admin.space_id = '{{ SPACE_ID }}';
window.spacescout_admin.is_mobile = {{ IS_MOBILE }};
window.spacescout_admin.csrf_token = '{{ csrf_token }}';
</script>
    
{% endblock %}
