{% extends 'base.html' %}

{% block content %}
{% load ss_admin_extras %}

<div id="error_message" class="alert alert-error fade in hide" style="margin-bottom:8px;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Oh snap!</strong> You have empties!
</div>

<div class="table-container">
<form name="add_space" action="" method="">{% csrf_token %}

    <div class="table-options clearfix">
        <h5 class="pull-left" style="margin:0;display:inline-block;">EDIT SPACE</h5>
        <ul class="pull-right">
            <li class="muted">Recently updated by Janice Fournier on January 4, 2012. Approve changes?</li>
            <li><button id="publish_button" class="btn btn-mini">Approve</button></li>
            <li class="muted">Changes were approved Craig Stimmel on January 5, 2012 and will put into the queu. Skip queue and publish now?</li>
            <li><button id="publish_button" class="btn btn-mini btn-success">Publish</button></li>
        </ul>
    </div>

    <div id="edit_space_table" class="tableDiv">
        <table style="width:100%;">
              <thead>
                  <tr>
                      <td class="col-field">Field</td>
                      <td class="col-value">Value</td>
                  </tr>
              </thead>
        </table>
        <div id="edit_space_scroller" class="table-scroll">
            <table style="width:100%;">
                <tbody>
                    {% for key in schema %}
                      <tr>
                          <td class="col-field">{{ key }}</td>
                          {% if spot|lookup:key|classname == 'list' %}
                          <td class="col-value">
                              {% for t in schema|lookup:key %}
                              {% if t in  spot|lookup:key %}
                              <input type="checkbox" name="{{ key }}" value="{{ t }}" checked="checked">{{ t }}</input><br />
                              {% else %}
                              <input type="checkbox" name="{{ key }}" value="{{ t }}">{{ t }}</input><br />
                              {% endif %}
                              {% endfor %}
                          </td>
                          {% else %}
                          <td class="col-value"><input type="text" value="{{ spot|lookup:key }}" /></td>
                          {% endif %}
                      </tr>
                    {% endfor %}
                 </tbody>
              </table>
          </div>
    </div>
    <div class="table-sub-options clearfix">
        <ul class="pull-left">
            <li><button id="save_button" class="btn btn-mini btn-primary" type="button"><i class="icon-check icon-white"></i> Save</button></li>
            <li><button id="cancel_button" class="btn btn-mini"><i class="icon-ban-circle"></i> Cancel</button></li>

        </ul>

    </div>

</form>
</div>

{% endblock %}
