{% extends 'base.html' %}

{% block content %}

<div id="error_message" class="alert alert-error fade in hide" style="margin-bottom:8px;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Oh snap!</strong> You have empties!
</div>

<div class="table-container">
<form name="add_space" action="" method="">{% csrf_token %}

    <div class="table-options clearfix">
        <h5 class="pull-left" style="margin:0;display:inline-block;">EDIT SPACE</h5>
        <ul class="pull-right">
            <li class="muted">Recently updated by Janice Fournier on January 4, 2012. Approve changes?</li>
            <li><button id="publish_button" class="btn btn-mini">Approve</button></li>
            <li class="muted">Changes were approved Craig Stimmel on January 5, 2012 and will put into the queu. Skip queue and publish now?</li>
            <li><button id="publish_button" class="btn btn-mini btn-success">Publish</button></li>
        </ul>
    </div>

    <div id="edit_space_table" class="tableDiv">
        <table style="width:100%;">
              <thead>
                  <tr>
                      <td class="col-field">Field</td>
                      <td class="col-value">Value</td>
                      <td class="col-error">Error</td>
                  </tr>
              </thead>
        </table>
        <div id="edit_space_scroller" class="table-scroll">
            <table style="width:100%;">
                <tbody>
                      <tr>
                          <td class="col-field">ID</td>
                          <td class="col-value">123</td>
                          <td class="col-error">&nbsp;</td>
                      </tr>
                      <tr>
                          <td class="col-field">Space</td>
                          <td><input type="text" value="asdfasdfasdfsa"></td>
                          <td>sdalkfja</td>
                      </tr>
                      <tr>
                          <td class="col-field">Building</td>
                          <td><input type="text" value="sadfasdfa"></td>
                          <td>sdalkfja</td>
                      </tr>
                      <tr>
                          <td class="col-field">Campus</td>
                          <td><select>
                              <option>Seattle</option>
                              <option>Bothell</option>
                              <option>Tacoma</option>
                            </select></td>
                          <td>sdalkfja</td>
                      </tr>
                      <tr>
                          <td class="col-field">Type</td>
                          <td>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Study room</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Study area</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Computer lab</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Production studio</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Conference/classroom</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Open space</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Lounge</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Cafe</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Outdoor area</label>
                          </td>
                          <td>sdalkfja</td>
                      </tr>
                      <tr>
                          <td class="col-field">Floor</td>
                          <td><input type="text" value="sadfasdfa"></td>
                          <td>sdalkfja</td>
                      </tr>
                      <tr>
                          <td class="col-field">Orientation</td>
                          <td><input type="text" value="aslkdflkasdfj sadflkas"></td>
                          <td>sdalkfja</td>
                      </tr>
                      <tr>
                          <td class="col-field">Access Notes</td>
                          <td><textarea rows="3"></textarea></td>
                          <td>sdalkfja</td>
                      </tr>
                      <tr>
                          <td class="col-field">Hours Notes</td>
                          <td><textarea rows="3"></textarea></td>
                          <td>sdalkfja</td>
                      </tr>
                      <tr>
                          <td class="col-field">Resources</td>
                          <td>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Whiteboard</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Outlets</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Computer</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Scanning</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Large display (for laptop)</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Projector</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Printing</label>
                          </td>
                          <td>sdalkfja</td>
                      </tr>
                      <tr>
                          <td class="col-field">Noise Level</td>
                          <td>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Silet</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Low Hum</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Chatter</label>
                          </td>
                          <td>sdalkfja</td>
                      </tr>
                      <tr>
                          <td class="col-field">Lighting</td>
                          <td>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">Natural light</label>
                          </td>
                          <td>sdalkfja</td>
                      </tr>
                      <tr>
                          <td class="col-field">Food/Coffee</td>
                          <td>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">In space</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">In building</label>
                              <label class="checkbox"><input type="checkbox" id="inlineCheckbox1" value="option1">In neighboring building</label>
                          </td>
                          <td>sdalkfja</td>
                      </tr>
                      <tr>
                          <td class="col-field">Images</td>
                          <td>
                              <div class="input-prepend input-append" style="margin-top:2px; margin-bottom:0;">
                                  <span class="add-on" style="font-size:11px;padding:1px;">1</span>
                                  <input class="span2" id="appendedInputButton" type="text" style="width:80%;">
                                  <button class="btn btn-mini" type="button">Image</button>
                              </div>
                              <div class="input-prepend input-append" style="margin-top:2px; margin-bottom:0;">
                                  <span class="add-on" style="font-size:11px;padding:1px;">2</span>
                                  <input class="span2" id="appendedInputButton" type="text" style="width:80%;">
                                  <button class="btn btn-mini" type="button">Image</button>
                              </div>
                              <div class="input-prepend input-append" style="margin-top:2px; margin-bottom:0;">
                                  <span class="add-on" style="font-size:11px;padding:1px;">3</span>
                                  <input class="span2" id="appendedInputButton" type="text" style="width:80%;">
                                  <button class="btn btn-mini" type="button">Image</button>
                              </div>
                              <div class="input-prepend input-append" style="margin-top:2px; margin-bottom:0;">
                                  <span class="add-on" style="font-size:11px;padding:1px;">4</span>
                                  <input class="span2" id="appendedInputButton" type="text" style="width:80%;">
                                  <button class="btn btn-mini" type="button">Image</button>
                              </div>
                          </td>
                          <td>sdalkfja</td>
                      </tr>
                  </tbody>
              </table>
          </div>
    </div>
    <div class="table-sub-options clearfix">
        <ul class="pull-left">
            <li><button id="save_button" class="btn btn-mini btn-primary" type="button"><i class="icon-check icon-white"></i> Save</button></li>
            <li><button id="cancel_button" class="btn btn-mini"><i class="icon-ban-circle"></i> Cancel</button></li>

        </ul>

    </div>

</form>
</div>

{% endblock %}
