{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Do something with a spreadsheet or CSV file!</p>
<ul>
<li><a href='/upload'>Upload</a></li>
<li><a href='/download'>Download</a></li>
</ul>

<table class="table table-bordered table-striped table-condensed">
    <caption>List of Spaces</caption>
    <thead>
        <tr>
            <th class="id">ID</th>
            <th>Space</th>
            <th>column2</th>
            <th>colunn3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="#">asdfasdfasdfsa</a></td>
            <td>sadfasdfa</td>
            <td>aslkdflkasdfj sadflkas</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="#">asdfasdfasdfsa</a></td>
            <td>sadfasdfa</td>
            <td>aslkdflkasdfj sadflkas</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="#">asdfasdfasdfsa</a></td>
            <td>sadfasdfa</td>
            <td>aslkdflkasdfj sadflkas</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="#">asdfasdfasdfsa</a></td>
            <td>sadfasdfa</td>
            <td>aslkdflkasdfj sadflkas</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="#">asdfasdfasdfsa</a></td>
            <td>sadfasdfa</td>
            <td>aslkdflkasdfj sadflkas</td>
        </tr>
        <tr>
            <td>6</td>
            <td><a href="#">asdfasdfasdfsa</a></td>
            <td>sadfasdfa</td>
            <td>aslkdflkasdfj sadflkas</td>
        </tr>
        <tr>
            <td>7</td>
            <td><a href="#">asdfasdfasdfsa</a></td>
            <td>sadfasdfa</td>
            <td>aslkdflkasdfj sadflkas</td>
        </tr>
        <tr>
            <td>8</td>
            <td><a href="#">asdfasdfasdfsa</a></td>
            <td>sadfasdfa</td>
            <td>aslkdflkasdfj sadflkas</td>
        </tr>
        <tr>
            <td>9</td>
            <td><a href="#">asdfasdfasdfsa</a></td>
            <td>sadfasdfa</td>
            <td>aslkdflkasdfj sadflkas</td>
        </tr>
    </tbody>
</table>

{% endblock %}
