{% extends 'base.html' %}

{% load verbatim %}
{% load i18n %}

{% block title %}{% trans "spaces" %}{% endblock %}

{% block userid %}{{ remote_user }}{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL}}js/home.js"></script>
{% endblock %}

{% block content %}


<ul id="myTab" class="nav nav-pills">
    <li class="active"><a href="#published" data-toggle="tab">Published</a></li>
    <li><a href="#unpublished" data-toggle="tab">Unpublished</a></li>
    <li><a href="#incomplete" data-toggle="tab">Incomplete</a></li>
</ul>

<div class="tab-content" id="tab_content">
    
    <!-- published spaces -->
    <ul class="list-group space-list tab-pane active" id="published">
        <li class="list-group-item"></li>
    </ul>
    <!-- end of published -->
    
    <!-- unpublished spaces -->
    <ul class="list-group space-list tab-pane" id="unpublished">
        <li class="list-group-item"></li>
    </ul>
    <!-- end of unpublished -->
    
    <!-- incomplete spaces -->
    <ul class="list-group space-list tab-pane incomplete-list" id="incomplete">
        <li class="list-group-item"></li>
    </ul>
    <!-- end of incomplete -->
    
</div>	


<script id="building-groups" type="text/html">
{% verbatim %}
{{# each buildings }}
<li class="list-group-item space-list-header"><h3 class="building-name">{{ name }}</h3>
  <ul class="list-group building-list">
    {{# each spaces }}
    <li class="list-group-item  space-list-item">
      <a href="/space/{{ id }}">
          <span class="list-group-item-heading item-name">{{ name }}</span>
          <span class="item-description">{{ description }}</span>
          <span class="item-modified-by">{{ last_modified }} by {{ modified_by }}</span>
          
          {{ #if is_modified }}
          <span class="item-modified glyphicon glyphicon-bookmark"></span>
          {{ /if }}
      </a>
    </li>
    {{/each}}
  </ul>
</li>
{{/each}}
{% endverbatim %}
</script>

<script id="incomplete-spaces" type="text/html">
{% verbatim %}
{{# each spaces }}
<li class="list-group-item space-list-item">
    
    <a class="item-name-link" href="/space/{{ id }}"><span class="list-group-item-heading item-name">{{ name }}</span></a>
    
    <div class="item-incomplete">
    {{# each unfinished }}
        <a href="/edit/{{ id }}/#{{ section }}"><span class="label label-danger">{{ element }}</span></a>
    {{/each}}
    </div>
    
    <span class="item-modified-by">{{ last_modified }} by {{ modified_by }}</span>
 
</li>
{{/each}}
{% endverbatim %}
</script>

<script id="list-item-loading" type="text/html">
  <div class="space-content-loading">
    <div class="spinner" role="alert">
      <span></span><span></span><span></span>
    </div>
    <div class="loading">Loading</div>
  </div>
</script>

<script id="no-spaces" type="text/html">
  <li class="">
    <div class="no-space">
      <i class="icon-frown icon-3x"></i><span>No spaces</span>
    </div>
  </li>
</script>

{% endblock %}
