{% extends 'base.html' %}

{% load verbatim %}
{% load i18n %}

{% block title %}{% trans "spaces" %}{% endblock %}

{% block extra_js %}
<script src="/static/js/home.js"></script>
{% endblock %}

{% block content %}


<ul id="myTab" class="nav nav-pills">
    <li class="active"><a href="#published" data-toggle="tab">Published</a></li>
    <li><a href="#unpublished" data-toggle="tab">Unpublished</a></li>
    <li><a href="#incomplete" data-toggle="tab">Incomplete</a></li>
</ul>

<div class="tab-content">
    
    <!-- published spaces -->
    <ul class="space-list tab-pane active" id="published">
        <li></li>
    </ul>
    <!-- end of published -->
    
    <!-- unpublished spaces -->
    <ul class="space-list tab-pane" id="unpublished">
        <li></li>
    </ul>
    <!-- end of unpublished -->
    
    <!-- incomplete spaces -->
    <ul class="space-list tab-pane incomplete-list" id="incomplete">
        <li></li>
    </ul>
    <!-- end of incomplete -->
    
</div>	


<script id="building-groups" type="text/html">
{% verbatim %}
{{# each buildings }}
<li class="space-list-header"><h3 class="building-name">{{ name }}</h3>
  <ul class="building-list">
    {{# each spots }}
    <li class="space-list-item">
      <a href="/space/{{ id }}">{{ name }}</a> 
      <span class="item-description">{{ description }}</span>
      <span class="item-modified-by">{{ last_modified }} by {{ modified_by }}</span>
      
      {{ #if is_modified }}
      <span class="item-modified glyphicon glyphicon-bookmark"></span>
      {{ /if }}
      
    </li>
    {{/each}}
  </ul>
</li>
{{/each}}
{% endverbatim %}
</script>

<script id="incomplete-spots" type="text/html">
{% verbatim %}
{{# each spots }}
<li class="space-list-item">
  <a href="/pending/{{ id }}">{{ name }}</a>
  <div class="item-incomplete">
    {{# each unfinished }}
    <span class="label label-danger">{{ element }}</span>
    {{/each}}
  </div>
  <span class="item-modified-by">{{ last_modified }} by {{ modified_by }}</span>
</li>
{{/each}}
{% endverbatim %}
</script>

<script id="list-item-loading" type="text/html">
  <li class="space-content-loading">
    <div class="spinner" role="alert">
      <span></span><span></span><span></span>
    </div>
    <div class="loading">Loading</div>
  </li>
</script>

<script id="no-spots" type="text/html">
  <li>
    <div class="no-space">
      <i class="icon-frown icon-3x"></i><span>No spaces to manage.</span>
    </div>
  </li>
</script>

{% endblock %}
