{% extends 'base.html' %}

{% block title %}Test page{% endblock %}

{% block content %}
    
    <h2>Space Name</h2>
    <div class="space-detail-section">
    	<div class="section-edit"><a href="#">edit</a></div>
        <p class="space-detail-item">Study area, Open space</p>
        <p class="space-detail-item"><strong>contact: </strong>netid</p>
    </div>
    
    <div class="panel space-detail-section">
      <div class="panel-heading">
        <div class="section-edit clearfix"><a href="#">edit</a></div>
      	<h3 class="panel-title">Location</h3>
      </div>
      <div class="space-detail-item">
        <h4>Campus</h4>
        <p>Seattle</p>
      </div>
      <div class="space-detail-item">
        <h4>Building</h4>
        <p>Allen Library</p>
      </div>
      <div class="space-detail-item">
        <h4>Description</h4>
        <p>Allen Library North, 4th floor</p>
      </div>
      <div class="space-detail-item">
        <h4>Orientation</h4>
        <p><em>No information</em></p>
      </div>
      <div class="space-detail-item">
        <h4>Lat & Long</h4>
        <p>47.234323,-122.307213</p>
      </div>
    </div>
    
    <div class="panel space-detail-section">
      <div class="panel-heading">
        <div class="section-edit clearfix"><a href="#">edit</a></div>
        <h3 class="panel-title">Hours</h3>
      </div>
      <div class="section-hours">
        <h4>Space -</h4><em> Normal</em>
        <ul>
          <li><span class="label-day">M-Th</span>12:30PM-12:30AM</li>
          <li><span class="label-day">F</span>12:30PM-12:30AM</li>
          <li><span class="label-day">S,Su</span>12:30PM-12:30AM</li>
          <li><span class="label-day">M,W,Th,Su</span>12:30PM-12:30AM</li>
        </ul>
        <h4>Space -</h4><em> Summer</em>
        <ul>
          <li><span class="label-day">M-Th</span>12:30PM-12:30AM</li>
          <li><span class="label-day">F</span>12:30PM-12:30AM</li>
          <li><span class="label-day">S,Su</span>12:30PM-12:30AM</li>
        </ul>
        <h4>Cafe -</h4><em> Normal</em>
        <ul>
          <li><span class="label-day">M-Th</span>12:30PM-12:30AM</li>
          <li><span class="label-day">F</span>12:30PM-12:30AM</li>
          <li><span class="label-day">S,Su</span>12:30PM-12:30AM</li>
          <li><span class="label-day">M,W,Th,Su</span>12:30PM-12:30AM</li>
        </ul>
        <h4>Cafe -</h4><em> Summer</em>
        <ul>
          <li><span class="label-day">M-Th</span>12:30PM-12:30AM</li>
          <li><span class="label-day">F</span>12:30PM-12:30AM</li>
          <li><span class="label-day">S,Su</span>12:30PM-12:30AM</li>
        </ul>
      </div>
    </div>

    <div class="panel space-detail-section">
      <div class="panel-heading">
        <div class="section-edit clearfix"><a href="#">edit</a></div>
        <h3 class="panel-title">Access</h3>
      </div>
      <div class="space-detail-item">
        <h4>Notes</h4>
        <p>After 5pm see front desk for access. Only available to building residents. Husky Card required.</p>
      </div>
      <div class="space-detail-item">
        <h4>Reservability</h4>
        <p><em>Can be reserved</em></p>
        <p>This space can be reserved at the help desk or online at <a href="#">https://digital.lib.washington.edu/studyspaces/seattle?tab=rc</a></p>
      </div>
    </div>

    <div class="panel space-detail-section">
      <div class="panel-heading">
        <div class="section-edit clearfix"><a href="#">edit</a></div>
        <h3 class="panel-title">Resources & Environment</h3>
      </div>
      <div class="space-detail-item">
        <h4>Resources</h4>
        <p>Whiteboard, Outlets, Scanner, Printing</p>
      </div>
      <div class="space-detail-item">
        <h4>Capacity</h4>
        <p>Seats 25</p>
      </div>
      <div class="space-detail-item">
        <h4>Lighting</h4>
        <p>Natural Light</p>
      </div>
      <div class="space-detail-item">
        <h4>Noise Level</h4>
        <p>Low Hum</p>
      </div>
      <div class="space-detail-item">
        <h4>Food & Coffee</h4>
        <p>In Building</p>
      </div>
    </div>

    <div class="panel space-detail-section">
      <div class="panel-heading">
        <div class="section-edit clearfix"><a href="#">edit</a></div>
        <h3 class="panel-title">Images</h3>
      </div>
    </div>

    <div class="panel space-detail-section">
      <div class="panel-heading">
        <h3 class="panel-title">Incomplete Items</h3>
      </div>
      <div class="space-detail-item">
        <h4>Required</h4>
        <p>
          <span class="label label-danger">Hours</span>
          <span class="label label-danger">Lat & Long</span>
          <span class="label label-danger">Resources</span>
          <span class="label label-danger">Food/Coffee</span>
        </p>
      </div>
      <div class="space-detail-item">
        <h4>Optional</h4>
        <p>
          <span class="label label-warning">Reservation Notes</span>
        </p>
      </div>
    </div>
    
    
    <div id="edit_panel" class="" style="position:fixed; top:50px; left:0; right:0; bottom:0; background:red; overflow:scroll; z-index:999;">
        <div style="padding:1em;">
        <h2>Edit</h2>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor.</p>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor.</p>
        </div>
    </div>
    
{% endblock %}