{% extends 'base.html' %}

{% block content %}


<div id="success_message" class="alert alert-success fade in" style="margin-bottom:8px;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Well done!</strong> You successfully completed a task.
</div>

<div class="table-container">
<form name="spaces" action="/space/" method="post">

    <div class="table-options clearfix">
        <h5 class="pull-left" style="margin:0;">SPACES</h5>
        <ul class="pull-right">
            <li><a href="/upload" id="batch_upload_button" class="btn btn-mini"><i class="icon-circle-arrow-up"></i> Batch Upload</a></li>
            <li><a href="/space/multiple" id="add_multiple_button" class="btn btn-mini"><i class="icon-plus-sign"></i> Multiple Spaces</a></li>
            <li><a href="/space/add" id="add_space_button" class="btn btn-mini"><i class="icon-plus-sign"></i> Individual Space</a></li>
        </ul>
    </div>

    <div id="table_scroller_container" class="table-scroll">
    <table class="table table-bordered table-striped table-condensed">
        <caption class="visuallyhidden">List of Spaces</caption>
        <thead style="">
            <tr>
                <th class="check"><input id="check_all_checkbox" type="checkbox"></th>
                <th class="id">ID</th>
                <th style="width:300px;">Space</th>
                <th>Building</th>
                <th>Type</th>
                <th>Floor</th>
                <th>Orientation</th>
                <th>Access Notes</th>
                <th>Hours Notes</th>
            </tr>
        </thead>
        <tbody id="space_list_body">
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>1</td>
                <td><a href="/space/123">Allen 2nd N/S Bridge</a></td>
                <td>Allen Library</td>
                <td>Open space</td>
                <td>2nd floor</td>
                <td>North</td>
                <td>Husky Card required for RC access 10pm-2am Sun-Th.</td>
                <td>This space can be reserved at the help desk or online at https://commons.lib.washington.edu.</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>2</td>
                <td><a href="/space/123">Allen Balcony</a></td>
                <td>Allen Library North</td>
                <td>Open space</td>
                <td>1st floor</td>
                <td>North</td>
                <td>Husky Card required for RC access 10pm-2am Sun-Th.</td>
                <td>This space can be reserved at the help desk or online at https://commons.lib.washington.edu.</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>3934</td>
                <td><a href="/space/123">Booth A</a></td>
                <td>Allen Library South</td>
                <td>Study area</td>
                <td>Research Commons, Ground floor</td>
                <td>South</td>
                <td>Husky Card required for RC access 10pm-2am Sun-Th.</td>
                <td>This space can be reserved at the help desk or online at https://commons.lib.washington.edu.</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>4</td>
                <td><a href="/space/123">Green A</a></td>
                <td>Allen Library South</td>
                <td>Conference/classroom</td>
                <td>Ground floor</td>
                <td>South</td>
                <td>&nbsp;</td>
                <td>This space can be reserved at the help desk or online at https://commons.lib.washington.edu.</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>5</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>6</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>7</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>8</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>9</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>10</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>11</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>12</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>13</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>14</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>15</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>16</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>17</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>18</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>19</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>20</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>21</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>22</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>23</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>24</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
            <tr>
                <td class="check"><input type="checkbox"></td>
                <td>25</td>
                <td><a href="/space/123">asdfasdfasdfsa</a></td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
                <td>sadfasdfa</td>
                <td>aslkdflkasdfj sadflkas</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="table-sub-options clearfix">
        <ul class="pull-left">
            <li><button id="edit_button" class="btn btn-mini btn-primary" type="submit"><i class="icon-edit icon-white"></i> Edit Multiple</button></li>
        </ul>
        <ul class="pull-right">
            <li id="table_num_spaces">10 spaces</li>
            <li><a href='/download' id="export_button" class="btn btn-mini"><i class="icon-circle-arrow-right"></i> Export Selected</a></li>
        </ul>
    </div>

    <input type="hidden" id="checked_spaces_count" name="checked_spaces">

</form>
</div>

{% endblock %}
