{% extends 'base-space.html' %}

{% load verbatim %}
{% load i18n %}

{% block title %}
    {% if IS_MOBILE %}
        {% trans "admin" %}
    {% else %}
        {% trans "spacescout admin" %}
    {% endif %}
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/space.js"></script>
{% endblock %}


{% block content %}
    
    <div class="space-content-loading">
        <div class="spinner" role="alert">
          <span></span><span></span><span></span>
        </div>
        <div class="loading">Loading</div>
    </div>
    
    <div class="panel space-detail-section space-detail-header"></div>
    

<script id="space-details" type="text/html">
{% verbatim %}
<div>
  <div class="section-edit" style="margin-top:5px;"><a href="{{ edit_url }}" class="action-link">edit</a></div>  
  <h2>{{ name }}</h2>
  {% endverbatim %}
</div>
</script>

<script id="space-section" type="text/html">
{% verbatim %}
    <div class="panel space-detail-section">
      <div class="panel-heading">
        <div class="section-edit clearfix"><a href="{{ edit_url }}" class="action-link">edit</a></div>
      	<h3 class="panel-title">{{ section }}</h3>
      </div>
    </div>
{% endverbatim %}
</script>

<script id="space-section-fields" type="text/html">
{% verbatim %}
    {{# each fields }}
    <div class="space-detail-item">
      {{ #if has_name }} 
      <h4>{{ name }}
        {{#if is_missing }}
            <div class="required-field">
                <span class="glyphicon glyphicon-asterisk required-field-icon"></span><span class="required-field-text">Required</span>
            </div>
        {{ /if }}
      </h4>
      {{ /if }}
      <p>{{{ value }}}</p>
    </div>
    {{ /each }}
{% endverbatim %}
</script>

<script id="space-section-hours" type="text/html">
{% verbatim %}
    <div class="panel space-detail-section">
      <div class="panel-heading">
        <div class="section-edit clearfix"><a href="{{ edit_url }}" class="action-link">edit</a></div>
      	<h3 class="panel-title">{{ section }}</h3>
      </div>
      <div class="section-hours">
        <h4>Normal Hours
          {{ #if is_missing }}
          <div class="required-field">
            <span class="glyphicon glyphicon-asterisk required-field-icon"></span><span class="required-field-text">Required</span>
          </div>
          {{ /if }}
        </h4>
        <ul>
        {{# each available_hours }}
        <li><span class="label-day">{{ day }}</span>{{ hours }}</li>
        {{/each}}
        </ul>
      </div>
      {{# each fields }}
      <div class="space-detail-item">
        {{ #if has_name }} 
        <h4>{{ name }}</h4>
        {{ /if }}
        <p>{{{ value }}}</p>
      </div>
      {{/each}}
    </div>
{% endverbatim %}
</script>

<script id="space-section-images" type="text/html">
{% verbatim %}
    <div class="panel space-detail-section">
      <div class="panel-heading">
        <div class="section-edit clearfix"><a href="{{ edit_url }}" class="action-link">edit</a></div>
        <h3 class="panel-title">{{ section }}</h3>
      </div>
      <div class="">
        <div id="image-carousel" class="carousel slide carousel-test" data-interval="false">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {{# each images }}
            <li data-target="#image-carousel" data-slide-to="{{ @index }}" {{#if @index}}{{else}}class="active"{{/if}}></li>
            {{/each}}
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {{# each images }}
            <div class="item {{ active }}">
              <img src="{{ url }}" />
              <div class="carousel-caption">{{ description }}</div>
            </div>
            {{/each}}
          </div>
        
          <!-- Controls -->
          <a class="left carousel-control" href="#image-carousel" data-slide="prev">
            <span class="icon-prev"></span>
          </a>
          <a class="right carousel-control" href="#image-carousel" data-slide="next">
            <span class="icon-next"></span>
          </a>
        </div>
      </div>     
    </div>
{% endverbatim %}
</script>

<script id="incomplete-items" type="text/html">
    <!-- TODO: Incomplete items should only appear during the "add space" phase. They will not appear in this template -->    
    <div class="panel space-detail-section">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "incomplete_items" %}</h3>
      </div>
      <div class="space-detail-item" id="incomplete-items">
        <h4>{% trans "required_fields" %}</h4>
        <p>
          {% verbatim %}
          {{# each incomplete }}
          <span class="label label-danger"><a href="{{ edit_url }}">{{ field }}</a></span>
          {{/each}}
          {% endverbatim %}
        </p>
      </div>
    </div>
</script>

<script id="space-actions" type="text/html">
{% verbatim %}
    <div style="margin-top: 2em;">
      <p>Last updated on {{last_modified}} by <strong>{{ modified_by }}</strong></p>
      <div>
        {{ #if is_complete }}
        {{ #if is_modified }}
        <div style="position:relative;">
          <span class="item-modified glyphicon glyphicon-bookmark" style="color:#16A085; position:absolute; top: 24px; left:10px;"></span> 
          <p style="color:#aaa; text-transform:uppercase; margin-bottom:5px;">Changes differ from production</p>
          <a href="/space" class="btn btn-success btn-lg btn-block">Publish changes</a>
          <p><a href="">Show modified changes?</a></p>
        </div>
        {{ else }}
        {{ #if is_published }}
        <a href="/space" class="btn btn-success btn-lg btn-block">Un-publish</a>
          {{ else }}
        <a href="/space" class="btn btn-success btn-lg btn-block" disabled>Publish</a>
          {{ /if }}
        {{ /if }}
      {{ /if }}
      </div>
    </div>
{% endverbatim %}
</script>

<script type="text/javascript">
window.spacescout_admin = window.spacescout_admin || {};
window.spacescout_admin.app_url_root = '{{ APP_URL_ROOT }}';
window.spacescout_admin.space_id = '{{ SPACE_ID }}';
</script>
       
{% endblock %}
