{% extends 'base.html' %}

{% block content %}
{% load ss_admin_extras %}

<div id="filter_block">
    <div style="padding:10px;color:#222;">
        <div class="clearfix"><h5 style="margin-top:0;display:inline-block;">FILTERS</h5> <a href="#" id="filter_block_button" class="dropdown pull-right"><i class="icon-chevron-down" style="opacity:.5;"></i></a></div>
        <div>You're going to be an interesting companion, Mr. Data. I can't. As much as I care about you, my first duty is to the ship. When has justice ever been as simple as a rule book? In all trust, there is the possibility for betrayal. Shields up! Rrrrred alert! Fate protects fools, little children and ships named Enterprise. Your head is not an artifact! Captain, why we are we out here chasing comets? Besides, you look good in a dress. We have a saboteur aboard. That might've been one of the shortest assignments in the history of Starfleet. Fear is the true enemy, the only enemy.</div>

    </div>
</div>




<div class="table-container">
<form name="spaces" action="/space/" method="post">{% csrf_token %}

    <div class="table-options clearfix">
        <h5 class="pull-left" style="margin:0;">SPACES</h5>
        <div id="success_message" class="alert alert-success fade in pull-left" style="margin: 0 0 0 20px;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Well done!</strong> You successfully completed a task.
        </div>
        <ul class="pull-right">
            <li><a href="/upload" id="batch_upload_button" class="btn btn-mini"><i class="icon-circle-arrow-up"></i> Batch Upload</a></li>
            <li><a href="/space/multiple" id="add_multiple_button" class="btn btn-mini"><i class="icon-plus-sign"></i> Multiple Spaces</a></li>
            <li><a href="/space/add" id="add_space_button" class="btn btn-mini"><i class="icon-plus-sign"></i> Individual Space</a></li>
        </ul>
    </div>

    <div id="table_scroller_container" class="tableDiv">
        <div class="fixedArea clearfix">
            <div class="fixedColumn" style="float: left; width: 600px;">
                <div class="fixedHead">
                    <table style="width:100%;">
                        <thead>
                            <!-- loop through schema? fixed table header for column titles -->
                            <tr>
                                <td class="col-checkbox" id=""><input id="check_all_checkbox" type="checkbox"></td>
                                {% for key in fixed_keys %}
                                <td class="col-{{ key }}" id=""><span>{{ key }}</span></td>
                                {% endfor %}
                                <td class="col-action muted" id="">Action</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="fixedTable" style="width: 600px; overflow: hidden; border-collapse: collapse; padding: 0px;">
                    <table style="width:100%;">
                        <tbody>
                            <!-- loop of spaces -->
                            {% for space in spots %}
                            <tr>

                                <td class="col-checkbox" id=""><input type="checkbox"></td>

                                {% for key in fixed_keys %}
                                    {% if key == "name" %}

                                        <!-- for now, look for specific words and apply the updates/queued labels to mimic status -->
                                        {% if "Area" in space|lookup:key %}
                                        <td class="col-{{ key }}" id=""><span><a href="/space/{{ space.id }}">{{ space|lookup:key }}</a> <span class="label label-info">Updated</span></span></td>
                                        {% elif "Lounge" in space|lookup:key %}
                                        <td class="col-{{ key }}" id=""><span><a href="/space/{{ space.id }}">{{ space|lookup:key }}</a> <span class="label label-success">Queued</span></span></td>
                                        {% else %}
                                        <td class="col-{{ key }}" id=""><span><a href="/space/{{ space.id }}">{{ space|lookup:key }}</a></span></td>
                                        {% endif %}

                                    {% else %}
                                    <td class="col-{{ key }}" id=""><span>{{ space|lookup:key }}</span></td>
                                    {% endif %}
                                {% endfor %}


                                <td class="col-action" id=""><a href="#" id="" class="btn btn-mini">Approve</a></td>


                            </tr>
                            {% endfor %}
                            <!-- end loop -->
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="fixedContainer" style="float: left; overflow:hidden;">
                <div class="fixedHead" style="float: left; overflow: hidden;">
                    <table style="width: 1950px;">
                        <thead>
                            <!-- loop through schema? fixed table header for column titles -->
                            <tr>
                                {% for key in scrollable_keys %}
                                <td class="col-{{ key }}"><span>{{ key }}</span></td>
                                {% endfor %}
                            </tr>
                        </thead>
                    </table>
                </div>

                <div id="table_scroller" class="fixedTable" style="float: left;  overflow: auto;">
                    <table class="FixedTables" style="width: 1950px;">
                        <caption class="visuallyhidden">List of Spaces</caption>
                        <tbody id="space_list_body">
                            <!-- loop  of spaces -->
                            {% for space in spots %}
                            <tr>
                                {% for key in scrollable_keys %}
                                <td class="col-{{ key }}" id=""><span>{{ space|lookup:key }}</span></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            <!-- end loop -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="table-sub-options clearfix">
        <ul class="pull-left">
            <li><button id="edit_button" class="btn btn-mini btn-primary" type="submit"><i class="icon-edit icon-white"></i> Edit Multiple</button></li>
        </ul>
        <ul class="pull-right">
            <li id="table_num_spaces">10 spaces</li>
            <li><a href='/download' id="export_button" class="btn btn-mini"><i class="icon-circle-arrow-right"></i> Export Selected</a></li>
        </ul>
    </div>

    <input type="hidden" id="checked_spaces_count" name="checked_spaces">

</form>
</div>

{% endblock %}
