{% extends 'base.html' %}

{% block content %}
<h1>Add New Spots</h1>
<p> You will PUT/POST to {{web_server}}</p>
{% if displaysf %}
<p>{{failures}}</p>
<table>
    <tr>
        <th>Name</th>
        <th>Error Location</th>
        <th>Error Message</th>
    </tr>
    {% for fdesc in failure_descs %}
    <tr>
        <td>{{fdesc.fname}}</td>
        <td>{{fdesc.flocation}}</td>
        <td>{% autoescape off %}{{fdesc.freason }}{% endautoescape %}</td>
    </tr>
    {% endfor %}
</table>
<p>{{warnings}}</p>
<table>
    <tr>
        <th>Name</th>
        <th>Error Location</th>
        <th>Error Message</th>
    </tr>
    {% for fdesc in warning_descs %}
    <tr>
        <td>{{fdesc.fname}}</td>
        <td>{{fdesc.flocation}}</td>
        <td>{% autoescape off %}{{fdesc.freason }}{% endautoescape %}</td>
    </tr>
    {% endfor %}
</table>
<p>{{successes}}
{% for success_name in success_names %}
{{success_name}}
{% endfor %}
</p>
{% else %}
<pre>
{{ notice }}
</pre>
{% endif %}
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
